.box {
  width: 60px;
  height: 60px;
  position: relative;
  border: 1px solid black;
  background: #e5e6e8;
  box-shadow:-2px 12px 36px rgba(0,0,0,0.3);
  margin: 1px;
  cursor: pointer;
}

.radius {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.radius_red {
  background-color: red;
}

.radius_red_animation {
  animation: animationRed 2s infinite;
}

.radius_green { 
  background-color: green;
}

.radius_green_animation { 
  animation: animationGreen 2s infinite;
}

@keyframes animationRed {
  0% {
    -moz-box-shadow: 0 0 0 0 red;
    box-shadow: 0 0 0 0 red;
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes animationGreen {
  0% {
    -moz-box-shadow: 0 0 0 0 green;
    box-shadow: 0 0 0 0 green;
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}